.container {
  @apply shadow rounded-lg;

  padding: 10px;

  display: grid;
  grid-template-columns: 100px 300px;
  grid-template-rows: auto auto;
  grid-template-areas:
          "cover title"
          "cover by"
          "cover author";
  grid-gap: 0 20px;
  align-items: center;
  justify-items: center;
}

@media (max-width: 550px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.cover {
  grid-area: cover;

  cursor: pointer;
}

.by {
  grid-area: by;
}

.title {
  grid-area: title;
}

.author {
  grid-area: author;

  font-size: 14px;
}
