.container {
  height: 100px;
  width: 100%;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #144119;
  color: white;
  font-size: 24px;
}
