.container {
  width: 100%;

  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
  justify-items: center;

  text-align: center;
}

.header {
  height: 100px;
  width: 100%;
  margin-bottom: 50px;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #144119;
  color: white;
  font-size: 24px;
}

.results {
  @apply grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3;

  margin-bottom: 50px;

  padding: 10px 20px;

  grid-gap: 20px;
}
